body{
    box-sizing: border-box;
    width: 1280px;
    height: 1820px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    color: #333333;
}

.header{
    width: 1180px;
    height: 253px;
    display: flex;
    background-color: #445161;
    padding: 45px 50px;
    justify-content: space-between;
}

h1{
    font-size: 60px;
    line-height: 1.2;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #fff;
    margin-bottom: 38px;
}

.list{
    list-style-image: url('../img/check_icon_346.png');
    margin-left: 35px;
    font-size: 20px;
    line-height: 36px;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #ffffff;
}

.about{
    width: 1180px;
    height: 200px;
    padding: 45px 50px;
    display: flex;
}

.about_img{
    margin-right: 40px;
}

.section_name{
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 25px;
    color: #445161;
}

.text{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
}

.columns{
    background-color: #f5f5f5;
    width: 1178px;
    height: 395px;
    padding: 45px 50px;
    margin-bottom: 50px;
}

.section_2{
    text-align: center;
}

.block{
display: flex;

}

.row_wrapper{
    height: 150px;
    display: flex;
    margin-bottom: 30px;
}

.block_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
    margin: 0 16px;
}

.block_name{
    font-size: 24px;
    line-height: 30px;
    color: #445161;
}

.square{
    width: 200px;
    height: 150px;
    background-color: #445161;
}

.vertical_box{
    display: flex;
    width: 990px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 50px;
}

.vertical_wrapper{
    width: 300px;
    height: 499px;
    background-color: #445161;
    border-radius: 5px;
    position: relative;
}

.text1{
    font-size: 24px;
    line-height: 50px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.text2{
    height: 71px;
    border: 2px solid #445162;
    background-color: #fff;
    color: #445162;
    font-size: 30px;
    line-height: 70px;
    text-transform: uppercase;
    text-align: center;
}

.little_text{
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    margin: 20px;
}

.btn{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    color: #445161;
    border-radius: 5px;
    background-color: #fff;
    width: 260px;
    height: 40px;
}

.footer{
    height: 66px;
    background-color: #f5f5f5;
    line-height: 66px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.025em;
    color: #445162;
}